#title {
    font-size: 50px;
    font-style: italic;
    font-weight: 10000;
    text-align: center;
    color: rgb(249, 248, 248);
    margin-top: auto;
    
}


#bildennummer1 {
    background-image: url("bilder/bakgrund/denuppe.png"); 
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    opacity: 1; 
    transition: opacity 1s ease-in-out; 
}





.delikatess {

    display: none;
    width: 300px;
    height: auto;
    margin: 20px auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
    }
    
    .delikatess.show {
        display: block;
        opacity: 1;
    }


/*         <img id="bildennummer1" src="bilder/delikatess/kaffe.jpg"> */


/*     <main id="mainlandingpage">    */


/*     <p id="textlandingpage">Till dig som älskar delikatesser, kaffe och ett leende på läpparna</p>    */


/*     <section id="bilder">    */


/*        <button id="slumpknapp">Klicka här för att se en slumpmässig delikatess!</button>     */

/*     <h3 id="open">Våra öppettider:</h3>     */



/*    <pre id="opentimes">       */