#title {
    font-size: 50px;
    font-style: italic;
    font-weight: 10000;
    text-align: center;
    color: rgb(249, 248, 248);
    margin-top: auto;
    
}


#bildennummer1 {
    background-image: url("bilder/bakgrund/denuppe.png"); 
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}





.delikatess {

    display: none;
    width: 300px;
    height: 150px;
    margin: 0 auto;

    
    }


    .delikatess img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    
    .delikatess.show {
        display: block;
        margin-top: 5%;
        background-color: #7f1a0aa1;
        padding: 4px;
        border-radius: 4px;

    }




/*     <main id="mainlandingpage">    */



#textlandingpage-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 200px;           
}


#fetbild {
    height: 250px;
}


#textlandingpage {
    font-size: large;
    color: #b3b3b3;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    text-align: center;
    
}   

#slumpknapp {
    margin-top: 100px;
    cursor: pointer;
    background-color: transparent;
    border: outset;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}


.yeye {

    position: relative;
    height: 100vh;
    background-color: ;

}
 
 /* så mycket huvhdvärk kom tillbaka till denna snart, 
 glöm inte fixa två saker. 
 en att det ska vara opacity men att alla bilder ska döljas.
 två att texten inte ska ändra position beroende på ifall bilden syns eller inte.
 tre fixa öppettider texten.
 fyra footern ska fixas i alla.css filen */

#open {

    font-size: large;
    color: #b3b3b3;
    font-family: 'Times New Roman', Times, serif;
    position: static;
    margin-top: 200px;
    text-align: left;


}


/*     <section id="bilder">    */


/*        <button id="slumpknapp">Klicka här för att se en slumpmässig delikatess!</button>     */

/*     <h3 id="open">Våra öppettider:</h3>     */



/*    <pre id="opentimes">       */